name: Update GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *" # every day at midnight UTC
  push:
    branches:
      - main

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update README stats
        uses: anuraghazra/github-readme-stats@v0.3.4
        with:
          username: muhammadhammad2005
          theme: radical
          count_private: false
